<hr />
<section class="mt-8">
  <footer>on <a href="https://github.com/mattxwang/indecision">github</a>; made by <a href="https://matthewwang.me/">matt</a> with <a href="https://reactjs.org/">react</a> on <a href="https://astro.build/">astro</a> + <a href="https://vitejs.dev/">vite</a>, <a href="https://tailwindcss.com/">tailwind</a>, <a href="https://reactflow.dev/">react flow</a>. powered by <a href="https://github.com/pmall-neu/rsdd/">rsdd</a></footer>
</section>

<style>
  a {
		text-decoration: underline;
	}
</style>
