---
import Layout from '../layouts/Layout.astro'
import Sdd from '../sdd/Sdd'
import Footer from '../ui/Footer.astro'
---

<Layout title="sdds">
  <main class="app">
    <section>
      <h1 class="text-4xl text-bold">make your own sdd (using rsdd)</h1>
    </section>
    <Sdd client:load />
    <Footer />
  </main>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .app {
    width: 100%;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  section {
    margin: 2rem auto;
    max-width: 60rem;
  }
</style>
