---
import Layout from '../layouts/Layout.astro'
import Footer from '../ui/Footer.astro'
import VTree from '../vtree/VTree'
---

<Layout title="vtrees">
  <main class="app">
    <section>
      <h1 class="text-4xl text-bold">make your own (linear) vtree!</h1>
    </section>
    <VTree client:load />
    <Footer />
  </main>
</Layout>

<style is:global>
  .app {
    width: 100%;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  section {
    margin: 2rem auto;
    max-width: 60rem;
    padding: 1rem;
  }
</style>
