---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/android-icon-36x36.png"
      sizes="36x36"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/android-icon-48x48.png"
      sizes="48x48"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/android-icon-72x72.png"
      sizes="72x72"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/android-icon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/android-icon-144x144.png"
      sizes="144x144"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/android-icon-192x192.png"
      sizes="192x192"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-16x16.png"
      sizes="16x16"
    />
    <meta
      name="msapplication-TileImage"
      content="/favicon/ms-icon-144x144.png"
    />
    <meta
      name="msapplication-square70x70logo"
      content="/favicon/ms-icon-70x70.png"
    />
    <meta
      name="msapplication-square150x150logo"
      content="/favicon/ms-icon-150x150.png"
    />
    <meta
      name="msapplication-wide310x150logo"
      content="/favicon/ms-icon-310x150.png"
    />
    <meta
      name="msapplication-square310x310logo"
      content="/favicon/ms-icon-310x310.png"
    />
    <link
      href="/favicon/apple-startup-320x460.png"
      media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-640x920.png"
      media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-640x1096.png"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-748x1024.png"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-750x1024.png"
      media=""
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-750x1294.png"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-768x1004.png"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-1182x2208.png"
      media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-1242x2148.png"
      media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-1496x2048.png"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/favicon/apple-startup-1536x2008.png"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --accent: 56, 189, 248; /* #1d4ed8 / tailwind sky-400 */
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #67e8f9 /* tailwind cyan-300 */ 30%,
      white 60%
    );
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;

      --accent: 29, 78, 216; /* #1d4ed8 / tailwind blue-700 */
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #93c5fd /* tailwind blue-300 */ 30%,
        white 60%
      );
    }
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .btn {
    @apply font-bold py-2 px-4 rounded inline-block;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  /* React flow overrides */
  .react-flow__node {
    width: auto !important;
  }

  .react-flow__controls-button {
    background-color: white !important;
  }
</style>
